body {
  background-color: #141414;
  text-align: center;
  color: #c9c9c9;
}

.duration button {
  outline: none;
  border: none;
  padding: 50px 50px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.repetition button {
  outline: none;
  border: none;
  padding: 50px 50px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.main-page-buttons button {
  outline: none;
  border: none;
  padding: 50px 50px;
  margin: 10px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}